<!-- card.ejs -->
<article class="clase  clase--<%= estado %>">

  <div class="clase__titular">
    <h3 class="clase__titulo">Clase <%= correlativo %>: <%= titulo %></h3>

  </div>

  </h3>



</article>
